transformers==4.37.2 
timm==0.6.13 
accelerate==0.21.0 
sentencepiece==0.1.99 
peft==0.4.0 
bitsandbytes==0.41.0 
einops-exts==0.0.4 
einops==0.6.1 
shortuuid 
openpyxl 
deepspeed 
scipy 
packaging 
ninja 
datasets 
protobuf 
wandb
opencv-python-headless